@font-face{
    font-family: Ellen;
    src:url(fonts/calligrap.otf);
}
h1{
    font-family: "Ellen", sans-serif;
}
#intro{
   float: left;
}
#nav{
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}
#nav li {
    float: left;
}

#nav li a:hover {
    background-color: #111;
}
#nav li a:active {
    background-color: grey;
    color: black;
}
body{
    text-align:center;
}